# üí≤ Brazil E-commerce üí≤

## üïµ Composi√ß√£o do Grupo

**Nome**: Daniel Brai Gonzales Marcos
<BR>
**RG**: 486196243

---

**Nome**: Marcus Vinicius Alves da Silva Souza
<BR>
**RG**: MG 15614644

---

**Nome**: Henrique Fernandes Viana Mendes
<BR>
**RG**: MG 17314659

## üéØ 1. Objetivos do Projeto

√â ineg√°vel que o advento da Internet mudou a forma como n√≥s, seres humanos, nos inter-relacionamos: a nova abordagem oferecida por uma rede mundial de computadores conectados entre si, que permite que dois ou mais individuos se comuniquem de forma bastante efetiva n√£o importando a dist√¢ncia que os separe fisicamente, nos afetou de formas diferentes, em graus diferentes, e possibilitou que novas oportunidades surgissem, sendo uma das mais not√≥rias o com√©rcio eletr√¥nico - referido a partir deste ponto, para melhor compreens√£o do trabalho, apenas como *e-commerce*.$^{1}$

√â natural que associemos o conceito do *e-commerce* com uma economia global, onde pessoas de pa√≠ses com diferentes graus de desenvolvimento podem negociar itens e servi√ßos entre si, o que √© plenamente compreens√≠vel dado que a globaliza√ß√£o tamb√©m ser um fen√¥meno intrinsecamente relacionada √† internet.$^{2}$ Todavia, devemos sempre nos atentar ao fato de que nosso pa√≠s, o Brasil, possui dimens√µes continentais e que, dessa forma, o *e-commerce* surge como uma circunst√¢ncia bastante favor√°vel √† fomenta√ß√£o da economia nacional, ao passo que permite que regio√µes geograficamente distantes entre si consigam executar o com√©rcio tal qual seria poss√≠vel localmente.

Em decorr√™ncia do exposto, o presente relat√≥rio surge motivado por entender como as rela√ß√µes de com√©rcio atrav√©s da internet ocorrem no Brasil e investigar poss√≠veis oportunidades a serem trabalhadas, como, a exemplo, prever avalia√ß√µes negativas de usu√°rios em compras realizadas possibilitando o desenvolvimento de estrat√©gias que mitiguem a evas√£o de clientes (*churn rate*).

## Libs Necess√°rias

In [1]:
!pip install -r ./requirements.txt
!python setup.py bdist_wheel

Requirement already satisfied: wheel in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 1)) (0.37.0)
Requirement already satisfied: kaggle in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 2)) (1.5.12)
Requirement already satisfied: pandas in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 3)) (1.3.5)
Requirement already satisfied: sklearn in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 4)) (0.0)
Requirement already satisfied: numpy in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 5)) (1.21.5)
Requirement already satisfied: seaborn in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from -r ./requirements.txt (line 6)) (0.11.2)
Requirement already satisfied: certifi in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (2021.10.8)
Requirement already satisfied: python-dateutil in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: python-slugify in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (5.0.2)
Requirement already satisfied: requests in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (2.26.0)
Requirement already satisfied: six>=1.10 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: tqdm in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (4.62.3)
Requirement already satisfied: urllib3 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from kaggle->-r ./requirements.txt (line 2)) (1.26.7)
Requirement already satisfied: pytz>=2017.3 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from pandas->-r ./requirements.txt (line 3)) (2021.3)
Requirement already satisfied: scikit-learn in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from sklearn->-r ./requirements.txt (line 4)) (1.0.1)
Requirement already satisfied: scipy>=1.0 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from seaborn->-r ./requirements.txt (line 6)) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from seaborn->-r ./requirements.txt (line 6)) (3.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from python-slugify->kaggle->-r ./requirements.txt (line 2)) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from requests->kaggle->-r ./requirements.txt (line 2)) (2.0.9)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from requests->kaggle->-r ./requirements.txt (line 2)) (3.3)
Requirement already satisfied: joblib>=0.11 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from scikit-learn->sklearn->-r ./requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from scikit-learn->sklearn->-r ./requirements.txt (line 4)) (3.0.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (4.28.5)
Requirement already satisfied: packaging>=20.0 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/danielgm/Documentos/Projetos/Unicamp/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn->-r ./requirements.txt (line 6)) (1.3.2)
python: can't open file 'setup.py': [Errno 2] No such file or directory

## üíΩ 2. Obtendo os Dados

üí° Para o presente projeto, utilizaremos uma base de dados (*dataset*) disponibilizado atrav√©s da plataforma **Kaggle**, uma comunidade mantida pelo Google destinada √†s atividades de an√°lise e ci√™ncia de dados. Para obter o arquivo CSV utilizado neste notebook, siga conforme abaixo:

### 2.1. üîê Autenticando na plataforma **Kaggle**

#### 2.1.a. Obtendo a chave de acesso da API (**kaggle.json**)

Navegue at√© a [p√°gina de gerenciamento de contas da pltaforma ](https://www.kaggle.com/me/account) e selecione a op√ß√£o **Create API Token**. Uma vez que o arquivo contendo o token de autenti√ß√£o tenha sido obtido, salve-o no seguinte caminho: **/home/$USER/.kaggle** (pode ser necess√°rio criar este diret√≥rio oculto na raiz de seu usu√°rio). Ap√≥s esse procedimento, execute o conjunto de c√©lulas abaixo:

#### 2.1.b. Autentica√ß√£o na plataforma Kaggle utilizando a API KaggleApi

In [2]:
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

#### 2.1.c. Download e extra√ß√£o do dataset para dataframes para an√°lises

In [3]:
!kaggle datasets download -d 'olistbr/brazilian-ecommerce' --force
!unzip -o brazilian-ecommerce.zip

Downloading brazilian-ecommerce.zip to /home/danielgm/Documentos/Projetos/Unicamp/brazil_ecommerce
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 42.6M/42.6M [00:04<00:00, 10.6MB/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 42.6M/42.6M [00:04<00:00, 10.7MB/s]
Archive:  brazilian-ecommerce.zip
  inflating: olist_customers_dataset.csv
  inflating: olist_geolocation_dataset.csv
  inflating: olist_order_items_dataset.csv
  inflating: olist_order_payments_dataset.csv
  inflating: olist_order_reviews_dataset.csv
  inflating: olist_orders_dataset.csv
  inflating: olist_products_dataset.csv
  inflating: olist_sellers_dataset.csv
  inflating: product_category_name_translation.csv

In [4]:
import pandas as pd

src_customers_dataset = pd.read_csv('olist_customers_dataset.csv')
src_geolocation_dataset = pd.read_csv('olist_geolocation_dataset.csv')
src_order_items_dataset = pd.read_csv('olist_order_items_dataset.csv')
src_order_payments_dataset = pd.read_csv('olist_order_payments_dataset.csv')
src_order_reviews_dataset = pd.read_csv('olist_order_reviews_dataset.csv')
src_orders_dataset = pd.read_csv('olist_orders_dataset.csv')
src_products_dataset = pd.read_csv('olist_products_dataset.csv')
src_sellers_dataset = pd.read_csv('olist_sellers_dataset.csv')

In [5]:
src_customers_dataset.dropna(inplace=True)
src_geolocation_dataset.dropna(inplace=True)
src_order_items_dataset.dropna(inplace=True)
src_order_payments_dataset.dropna(inplace=True)
src_order_reviews_dataset.dropna(inplace=True)
src_orders_dataset.dropna(inplace=True)
src_products_dataset.dropna(inplace=True)
src_sellers_dataset.dropna(inplace=True)

In [6]:
src_customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [7]:
src_geolocation_dataset.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [8]:
src_order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [9]:
src_order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [10]:
src_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47
15,3948b09f7c818e2d86c9a546758b2335,e51478e7e277a83743b6f9991dbfa3fb,5,Super recomendo,"Vendedor confi√°vel, produto ok e entrega antes...",2018-05-23 00:00:00,2018-05-24 03:00:01
19,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,1,N√£o chegou meu produto,P√©ssimo,2018-08-15 00:00:00,2018-08-15 04:10:37
22,d21bbc789670eab777d27372ab9094cc,4fc44d78867142c627497b60a7e0228a,5,√ìtimo,Loja nota 10,2018-07-10 00:00:00,2018-07-11 14:10:25
34,c92cdd7dd544a01aa35137f901669cdf,37e7875cdce5a9e5b3a692971f370151,4,Muito bom.,Recebi exatamente o que esperava. As demais en...,2018-06-07 00:00:00,2018-06-09 18:44:02

In [11]:
src_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [12]:
src_products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [13]:
src_sellers_dataset.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

#### 2.1.d Filtrando os datasets para manter apenas as informa√ß√µes que possuam avalia√ß√£o

In [14]:
target_order_ids_list = src_order_reviews_dataset['order_id']

In [15]:
df_orders_with_reviews = src_orders_dataset[src_orders_dataset['order_id'].isin(target_order_ids_list)]
df_orders_with_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9491 entries, 1 to 99427
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       9491 non-null   object
 1   customer_id                    9491 non-null   object
 2   order_status                   9491 non-null   object
 3   order_purchase_timestamp       9491 non-null   object
 4   order_approved_at              9491 non-null   object
 5   order_delivered_carrier_date   9491 non-null   object
 6   order_delivered_customer_date  9491 non-null   object
 7   order_estimated_delivery_date  9491 non-null   object
dtypes: object(8)
memory usage: 667.3+ KB

In [16]:
df_order_items_with_reviews = src_order_items_dataset[src_order_items_dataset['order_id'].isin(target_order_ids_list)]
df_order_items_with_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11522 entries, 12 to 112609
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             11522 non-null  object
 1   order_item_id        11522 non-null  int64
 2   product_id           11522 non-null  object
 3   seller_id            11522 non-null  object
 4   shipping_limit_date  11522 non-null  object
 5   price                11522 non-null  float64
 6   freight_value        11522 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 720.1+ KB

In [17]:
df_order_payment_with_reviews = src_order_payments_dataset[src_order_payments_dataset['order_id'].isin(target_order_ids_list)]
df_order_payment_with_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10211 entries, 0 to 103875
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              10211 non-null  object
 1   payment_sequential    10211 non-null  int64
 2   payment_type          10211 non-null  object
 3   payment_installments  10211 non-null  int64
 4   payment_value         10211 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 478.6+ KB

#### 2.1.e Agrupando os datasets

Uma vez que todos os datasets tenham sido carregados, √© necess√°rio verificar quais possuem amostras duplicadas, considerando-se aqueles cujo este comportamento possa comprometer nossa an√°lise, levando-se em conta o atributo adequado:

In [18]:
customer_has_duplicates = src_customers_dataset.duplicated(subset='customer_id').any()
order_payments_has_duplicates = df_order_payment_with_reviews.duplicated(subset='order_id').any()
reviews_has_duplicates =  src_order_reviews_dataset.duplicated(subset='order_id').any()
products_has_duplicates = src_products_dataset.duplicated(subset='product_id').any()
sellers_has_duplicates =  src_sellers_dataset.duplicated(subset='seller_id').any()


print(f'''
src_customers_dataset has duplicates: {customer_has_duplicates}
src_order_payments_dataset has duplicates: {order_payments_has_duplicates}
src_order_reviews_dataset has duplicates: {reviews_has_duplicates}
src_products_dataset has duplicates: {products_has_duplicates}
sellers_has_duplicates has duplicates: {sellers_has_duplicates}
''')

src_customers_dataset has duplicates: False
src_order_payments_dataset has duplicates: True
src_order_reviews_dataset has duplicates: True
src_products_dataset has duplicates: False
sellers_has_duplicates has duplicates: False

Como em nossa an√°lise dois dos datasets apresentam valores duplicados em colunas que podem introduzir ru√≠do √†s nossas an√°lises, faremos o agrupamento de acordo com estas colunas. Para o dataset de **Ordens de Pagamento** (src_order_payments_dataset) iremos tranformar a coluna **tipo de pagamento** (payment_type) em _dummies variables_, agrupando cada pagamento pelo id do pedido.

In [19]:
src_order_payments_dataset_with_dummies = pd.get_dummies(df_order_payment_with_reviews, columns = ['payment_type'], prefix='payment_type')
df_order_payment_with_reviews_grouped = src_order_payments_dataset_with_dummies.groupby(by=['order_id'], as_index=True)
df_order_payment_with_reviews_grouped = df_order_payment_with_reviews_grouped.agg(
    payment_value=('payment_value', 'sum'),
    payment_sequential=('payment_sequential', 'count'), 
    payment_type_boleto=('payment_type_boleto', 'max'),
    payment_type_credit_card=('payment_type_credit_card', 'max'),
    payment_type_voucher=('payment_type_voucher', 'max'),
    payment_type_debit_card=('payment_type_debit_card', 'max')
).reset_index()
df_order_payment_with_reviews_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  9830 non-null   object
 1   payment_value             9830 non-null   float64
 2   payment_sequential        9830 non-null   int64
 3   payment_type_boleto       9830 non-null   uint8
 4   payment_type_credit_card  9830 non-null   uint8
 5   payment_type_voucher      9830 non-null   uint8
 6   payment_type_debit_card   9830 non-null   uint8
dtypes: float64(1), int64(1), object(1), uint8(4)
memory usage: 268.9+ KB

Para o dataset de **Avalia√ß√µes** (src_order_reviews_dataset), optamos por gerar um novo dataset agrupando a avalia√ß√£o pelo id do pedido, e mantendo apenas um outro atributo (coluna) que √© o valor da avalia√ß√£o (review_score), o qual, para registros duplicados, foi preenchido com a m√©dia de todas as avalia√ß√µes presentes.

In [20]:
src_order_reviews_dataset_grouped = src_order_reviews_dataset.groupby(by=['order_id'], as_index=True)
src_order_reviews_dataset = src_order_reviews_dataset_grouped.agg(
    review_score=('review_score', 'mean'),
).reset_index()
src_order_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9830 entries, 0 to 9829
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9830 non-null   object
 1   review_score  9830 non-null   float64
dtypes: float64(1), object(1)
memory usage: 153.7+ KB

#### 2.q.f Merge dos datasets

Uma vez que os datasets estejam devidamente processados, faz-se necess√°rio unific√°-los para que os modelos possam ser treinados. Para tal, √© necess√°rio que se compreenda o conjunto de dados abordado. Nesse sentido, as c√©lular abaico exploram um pouco mais a massa de testes para nos fornecer esse tipo de informa√ß√£o.

In [21]:
# Recuperando um pedido qualquer que contenha mais de um item comprado
order_id = df_order_items_with_reviews[df_order_items_with_reviews.duplicated(subset='order_id')].head(1)['order_id'].values[0]

In [22]:
# Verificando os itens que foram adquiridos no pedido
df_order_items_with_reviews[df_order_items_with_reviews['order_id']==order_id]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
209,008d9bf350ff02ed444b3452cf3f57e0,1,efec0b0b076ce3f164b80145743ebc02,1da3aeb70d7989d1e6d9b0e887f97c23,2018-06-12 09:11:48,9.99,15.23
210,008d9bf350ff02ed444b3452cf3f57e0,2,efec0b0b076ce3f164b80145743ebc02,1da3aeb70d7989d1e6d9b0e887f97c23,2018-06-12 09:11:48,9.99,15.23

In [23]:
# Detalhando o pedido realizado
df_orders_with_reviews[df_orders_with_reviews['order_id'] == order_id]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
91276,008d9bf350ff02ed444b3452cf3f57e0,84f30d2805ae1bddbe5deefc84c80cd0,delivered,2018-06-04 08:57:02,2018-06-04 09:11:48,2018-06-04 12:19:00,2018-06-13 19:24:52,2018-07-11 00:00:00

In [24]:
# Detalhando o pedido realizado
customer_id = df_orders_with_reviews[df_orders_with_reviews['order_id'] == order_id]['customer_id'].values[0]

In [25]:
# Obtendo o cliente que realizou o pedido
src_customers_dataset[src_customers_dataset['customer_id'] == customer_id]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
98530,84f30d2805ae1bddbe5deefc84c80cd0,0511b00dba27c937d7c1b15aa385359e,29101,vila velha,ES

In [26]:
# Detalhando o vendedor respons√°vel pela venda
seller_id = df_order_items_with_reviews[df_order_items_with_reviews['order_id'] == order_id]['seller_id'].values[0]
src_sellers_dataset[src_sellers_dataset['seller_id'] == seller_id]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
2391,1da3aeb70d7989d1e6d9b0e887f97c23,4265,sao paulo,SP

In [27]:
product_id = df_order_items_with_reviews[df_order_items_with_reviews['order_id'] == order_id]['product_id'].values[0]
src_products_dataset[src_products_dataset['product_id'] == product_id]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
22724,efec0b0b076ce3f164b80145743ebc02,brinquedos,8.0,304.0,1.0,245.0,18.0,12.0,13.0

In [28]:
src_order_reviews_dataset[src_order_reviews_dataset['order_id'] == order_id]

                            order_id  review_score
16  008d9bf350ff02ed444b3452cf3f57e0           5.0

In [29]:
df_order_payment_with_reviews_grouped[df_order_payment_with_reviews_grouped['order_id'] == order_id]

,order_id,payment_value,payment_sequential,payment_type_boleto,payment_type_credit_card,payment_type_voucher,payment_type_debit_card
16,008d9bf350ff02ed444b3452cf3f57e0,50.44,1,0,1,0,0

Uma vez que se tenha uma no√ß√£o de como os dados se conversam entre si, √© necess√°rios agreg√°-los em um √∫nico dataset para que seja poss√≠vel o treinamento do modelo.

In [30]:
merged_dataframe = pd.merge(df_order_items_with_reviews, df_orders_with_reviews, left_on='order_id', right_on='order_id', how='inner')
merged_dataframe = pd.merge(merged_dataframe, src_customers_dataset, left_on='customer_id', right_on='customer_id', how='inner')
merged_dataframe = pd.merge(merged_dataframe, src_sellers_dataset, left_on='seller_id', right_on='seller_id', how='inner')
merged_dataframe = pd.merge(merged_dataframe, src_products_dataset, left_on='product_id', right_on='product_id', how='inner')
merged_dataframe = pd.merge(merged_dataframe, df_order_payment_with_reviews_grouped, left_on='order_id', right_on='order_id', how='inner')
merged_dataframe = pd.merge(merged_dataframe, src_order_reviews_dataset, left_on='order_id', right_on='order_id', how='inner')
merged_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11171 entries, 0 to 11170
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       11171 non-null  object
 1   order_item_id                  11171 non-null  int64
 2   product_id                     11171 non-null  object
 3   seller_id                      11171 non-null  object
 4   shipping_limit_date            11171 non-null  object
 5   price                          11171 non-null  float64
 6   freight_value                  11171 non-null  float64
 7   customer_id                    11171 non-null  object
 8   order_status                   11171 non-null  object
 9   order_purchase_timestamp       11171 non-null  object
 10  order_approved_at              11171 non-null  object
 11  order_delivered_carrier_date   11171 non-null  object
 12  order_delivered_customer_date  11171 non-null  object
 13  order_estimated_delivery_date  11171 non-null  object
 14  customer_unique_id             11171 non-null  object
 15  customer_zip_code_prefix       11171 non-null  int64
 16  customer_city                  11171 non-null  object
 17  customer_state                 11171 non-null  object
 18  seller_zip_code_prefix         11171 non-null  int64
 19  seller_city                    11171 non-null  object
 20  seller_state                   11171 non-null  object
 21  product_category_name          11171 non-null  object
 22  product_name_lenght            11171 non-null  float64
 23  product_description_lenght     11171 non-null  float64
 24  product_photos_qty             11171 non-null  float64
 25  product_weight_g               11171 non-null  float64
 26  product_length_cm              11171 non-null  float64
 27  product_height_cm              11171 non-null  float64
 28  product_width_cm               11171 non-null  float64
 29  payment_value                  11171 non-null  float64
 30  payment_sequential             11171 non-null  int64
 31  payment_type_boleto            11171 non-null  uint8
 32  payment_type_credit_card       11171 non-null  uint8
 33  payment_type_voucher           11171 non-null  uint8
 34  payment_type_debit_card        11171 non-null  uint8
 35  review_score                   11171 non-null  float64
dtypes: float64(11), int64(4), object(17), uint8(4)
memory usage: 2.9+ MB

Uma vez que o dataframe esteja unitizado, √© importante que calculemos a diferen√ßa entre a data de entrega prevista e a data de entrega efetiva, o qual criaremos uma nova coluna para armazernar esse valor em dias. Sempre que o resultado dessacoluna for um n√∫mero negativo, isso implica em atraso na entrega; uma poss√≠vel teoria poderia ser de que produtos que possuem entregas atrasadas tendem a possuir piores avalia√ß√µes. Dado que tenhamos calculado essa coluna, podemos ent√£o remover todas as colunas referentes √† datas de nossos datasets.

In [31]:
merged_dataframe['days_to_delivery'] = (pd.to_datetime(merged_dataframe[ 'order_estimated_delivery_date']) - pd.to_datetime(merged_dataframe[ 'order_delivered_customer_date'])).dt.days
merged_dataframe.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,product_height_cm,product_width_cm,payment_value,payment_sequential,payment_type_boleto,payment_type_credit_card,payment_type_voucher,payment_type_debit_card,review_score,days_to_delivery
0,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.0,23.32,5d178120c29c61748ea95bac23cb8f25,delivered,2018-07-24 17:04:17,...,10.0,40.0,97.32,1,0,1,0,0,5.0,21
1,00c763284c0056eed753352f5559ff0a,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-06-11 00:10:44,79.9,14.65,0bbbcba4fb2d97e129f2f2622d82eabc,delivered,2018-05-31 23:51:24,...,10.0,40.0,94.55,1,0,1,0,0,4.0,20
2,0edefae02733735c88d242ce6b781802,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-06-04 09:50:01,79.9,13.00,d3ab89d9a1a9f356e6da0f519d0bf68e,delivered,2018-05-26 09:29:26,...,10.0,40.0,92.90,1,0,1,0,0,5.0,21
3,1194afa31e54aeee123be8df42e3f573,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-06-13 17:15:38,79.9,14.65,b383a778278d061c8b275a611c26ca8a,delivered,2018-06-05 16:56:38,...,10.0,40.0,94.55,1,0,1,0,0,4.0,27
4,16a811fb1fdf869b3b5ab6f91b6f36bb,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-08-02 19:31:21,74.0,14.83,39e80f37ce682233db7e2474fcdcdcdd,delivered,2018-07-31 18:22:47,...,10.0,40.0,88.83,1,0,0,0,1,5.0,-1

In [32]:
columns_to_remove = ['shipping_limit_date', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
merged_dataframe_without_date_columns = merged_dataframe.drop(columns=columns_to_remove)
merged_dataframe_without_date_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11171 entries, 0 to 11170
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_id                    11171 non-null  object
 1   order_item_id               11171 non-null  int64
 2   product_id                  11171 non-null  object
 3   seller_id                   11171 non-null  object
 4   price                       11171 non-null  float64
 5   freight_value               11171 non-null  float64
 6   customer_id                 11171 non-null  object
 7   order_status                11171 non-null  object
 8   customer_unique_id          11171 non-null  object
 9   customer_zip_code_prefix    11171 non-null  int64
 10  customer_city               11171 non-null  object
 11  customer_state              11171 non-null  object
 12  seller_zip_code_prefix      11171 non-null  int64
 13  seller_city                 11171 non-null  object
 14  seller_state                11171 non-null  object
 15  product_category_name       11171 non-null  object
 16  product_name_lenght         11171 non-null  float64
 17  product_description_lenght  11171 non-null  float64
 18  product_photos_qty          11171 non-null  float64
 19  product_weight_g            11171 non-null  float64
 20  product_length_cm           11171 non-null  float64
 21  product_height_cm           11171 non-null  float64
 22  product_width_cm            11171 non-null  float64
 23  payment_value               11171 non-null  float64
 24  payment_sequential          11171 non-null  int64
 25  payment_type_boleto         11171 non-null  uint8
 26  payment_type_credit_card    11171 non-null  uint8
 27  payment_type_voucher        11171 non-null  uint8
 28  payment_type_debit_card     11171 non-null  uint8
 29  review_score                11171 non-null  float64
 30  days_to_delivery            11171 non-null  int64
dtypes: float64(11), int64(5), object(11), uint8(4)
memory usage: 2.4+ MB

Para finalizar o pr√©-processamento do dataset, basta agora que transformemos o atributo _product_category_name_ em uma dummy variable, assim como foi feito com a forma de pagamento. Al√©m dessa coluna, precisaremos aplicar essa t√©cnica tamb√©m √† coluna de estado; a coluna de cidade, por n√£o agregar tanto valor, ser√° removida assim como a de CEP.

In [33]:
merged_dataframe_without_date_columns_category_as_dummy = pd.concat([merged_dataframe_without_date_columns.drop('product_category_name', axis=1), pd.get_dummies(merged_dataframe_without_date_columns['product_category_name'], prefix='product_category_name')], axis=1)
merged_dataframe_without_date_columns_category_as_dummy.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value,customer_id,order_status,customer_unique_id,customer_zip_code_prefix,...,product_category_name_perfumaria,product_category_name_pet_shop,product_category_name_portateis_casa_forno_e_cafe,product_category_name_portateis_cozinha_e_preparadores_de_alimentos,product_category_name_relogios_presentes,product_category_name_sinalizacao_e_seguranca,product_category_name_tablets_impressao_imagem,product_category_name_telefonia,product_category_name_telefonia_fixa,product_category_name_utilidades_domesticas
0,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,74.0,23.32,5d178120c29c61748ea95bac23cb8f25,delivered,7ed0ea20347f67fe61d1c99fdf8556ae,21810,...,0,0,0,0,0,0,0,0,0,0
1,00c763284c0056eed753352f5559ff0a,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,79.9,14.65,0bbbcba4fb2d97e129f2f2622d82eabc,delivered,521af0bcb7fe9f806c95e09422b38a43,9760,...,0,0,0,0,0,0,0,0,0,0
2,0edefae02733735c88d242ce6b781802,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,79.9,13.00,d3ab89d9a1a9f356e6da0f519d0bf68e,delivered,213b36024bb0b8261de0ffbd652ebc34,13348,...,0,0,0,0,0,0,0,0,0,0
3,1194afa31e54aeee123be8df42e3f573,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,79.9,14.65,b383a778278d061c8b275a611c26ca8a,delivered,352532fd050f1e1f1b9a26373401a367,6210,...,0,0,0,0,0,0,0,0,0,0
4,16a811fb1fdf869b3b5ab6f91b6f36bb,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,74.0,14.83,39e80f37ce682233db7e2474fcdcdcdd,delivered,d10c8bcb70ed8f8b0adebd5feb385167,14730,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# merged_dataframe_dummies_to_state = pd.concat([merged_dataframe_without_date_columns_category_as_dummy.drop('customer_state', axis=1), pd.get_dummies(merged_dataframe_without_date_columns_category_as_dummy['customer_state'], prefix='customer_state')], axis=1)
# merged_dataframe_dummies_to_state.drop(columns=['customer_city','customer_zip_code_prefix'], axis=1, inplace=True)
# merged_dataframe_dummies_to_state.head()

In [35]:
# merged_dataframe_dummies_to_state = pd.concat([merged_dataframe_dummies_to_state.drop('seller_state', axis=1), pd.get_dummies(merged_dataframe_without_date_columns['seller_state'], prefix='seller_state')], axis=1)
# merged_dataframe_dummies_to_state.drop(columns=['seller_city','seller_zip_code_prefix'], axis=1, inplace=True)
# merged_dataframe_dummies_to_state.head()

In [36]:
merged_dataframe_dummies_to_state = merged_dataframe_without_date_columns_category_as_dummy.drop(columns=['customer_city', 'customer_state','seller_city', 'seller_state'], axis=1)
columns_to_remove = ['order_id', 'order_item_id', 'product_id', 'seller_id', 'customer_id', 'customer_unique_id', 'order_status', 'order_status']
df_to_regression = merged_dataframe_dummies_to_state.drop(columns=columns_to_remove, axis=1)
df_to_regression.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11171 entries, 0 to 11170
Data columns (total 86 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   price                                                                 11171 non-null  float64
 1   freight_value                                                         11171 non-null  float64
 2   customer_zip_code_prefix                                              11171 non-null  int64
 3   seller_zip_code_prefix                                                11171 non-null  int64
 4   product_name_lenght                                                   11171 non-null  float64
 5   product_description_lenght                                            11171 non-null  float64
 6   product_photos_qty                                                    11171 non-null  float64
 7   product_weight_g                                                      11171 non-null  float64
 8   product_length_cm                                                     11171 non-null  float64
 9   product_height_cm                                                     11171 non-null  float64
 10  product_width_cm                                                      11171 non-null  float64
 11  payment_value                                                         11171 non-null  float64
 12  payment_sequential                                                    11171 non-null  int64
 13  payment_type_boleto                                                   11171 non-null  uint8
 14  payment_type_credit_card                                              11171 non-null  uint8
 15  payment_type_voucher                                                  11171 non-null  uint8
 16  payment_type_debit_card                                               11171 non-null  uint8
 17  review_score                                                          11171 non-null  float64
 18  days_to_delivery                                                      11171 non-null  int64
 19  product_category_name_agro_industria_e_comercio                       11171 non-null  uint8
 20  product_category_name_alimentos                                       11171 non-null  uint8
 21  product_category_name_alimentos_bebidas                               11171 non-null  uint8
 22  product_category_name_artes                                           11171 non-null  uint8
 23  product_category_name_artes_e_artesanato                              11171 non-null  uint8
 24  product_category_name_artigos_de_festas                               11171 non-null  uint8
 25  product_category_name_artigos_de_natal                                11171 non-null  uint8
 26  product_category_name_audio                                           11171 non-null  uint8
 27  product_category_name_automotivo                                      11171 non-null  uint8
 28  product_category_name_bebes                                           11171 non-null  uint8
 29  product_category_name_bebidas                                         11171 non-null  uint8
 30  product_category_name_beleza_saude                                    11171 non-null  uint8
 31  product_category_name_brinquedos                                      11171 non-null  uint8
 32  product_category_name_cama_mesa_banho                                 11171 non-null  uint8
 33  product_category_name_casa_conforto                                   11171 non-null  uint8
 34  product_category_name_casa_conforto_2                                 11171 non-null  uint8
 35  product_category_name_casa_construcao                                 11171 non-null  uint8
 36  product_category_name_cds_dvds_musicais                               11171 non-null  uint8
 37  product_category_name_cine_foto                                       11171 non-null  uint8
 38  product_category_name_climatizacao                                    11171 non-null  uint8
 39  product_category_name_consoles_games                                  11171 non-null  uint8
 40  product_category_name_construcao_ferramentas_construcao               11171 non-null  uint8
 41  product_category_name_construcao_ferramentas_ferramentas              11171 non-null  uint8
 42  product_category_name_construcao_ferramentas_iluminacao               11171 non-null  uint8
 43  product_category_name_construcao_ferramentas_jardim                   11171 non-null  uint8
 44  product_category_name_construcao_ferramentas_seguranca                11171 non-null  uint8
 45  product_category_name_cool_stuff                                      11171 non-null  uint8
 46  product_category_name_dvds_blu_ray                                    11171 non-null  uint8
 47  product_category_name_eletrodomesticos                                11171 non-null  uint8
 48  product_category_name_eletrodomesticos_2                              11171 non-null  uint8
 49  product_category_name_eletronicos                                     11171 non-null  uint8
 50  product_category_name_eletroportateis                                 11171 non-null  uint8
 51  product_category_name_esporte_lazer                                   11171 non-null  uint8
 52  product_category_name_fashion_bolsas_e_acessorios                     11171 non-null  uint8
 53  product_category_name_fashion_calcados                                11171 non-null  uint8
 54  product_category_name_fashion_roupa_infanto_juvenil                   11171 non-null  uint8
 55  product_category_name_fashion_roupa_masculina                         11171 non-null  uint8
 56  product_category_name_fashion_underwear_e_moda_praia                  11171 non-null  uint8
 57  product_category_name_ferramentas_jardim                              11171 non-null  uint8
 58  product_category_name_flores                                          11171 non-null  uint8
 59  product_category_name_fraldas_higiene                                 11171 non-null  uint8
 60  product_category_name_industria_comercio_e_negocios                   11171 non-null  uint8
 61  product_category_name_informatica_acessorios                          11171 non-null  uint8
 62  product_category_name_instrumentos_musicais                           11171 non-null  uint8
 63  product_category_name_livros_importados                               11171 non-null  uint8
 64  product_category_name_livros_interesse_geral                          11171 non-null  uint8
 65  product_category_name_livros_tecnicos                                 11171 non-null  uint8
 66  product_category_name_malas_acessorios                                11171 non-null  uint8
 67  product_category_name_market_place                                    11171 non-null  uint8
 68  product_category_name_moveis_cozinha_area_de_servico_jantar_e_jardim  11171 non-null  uint8
 69  product_category_name_moveis_decoracao                                11171 non-null  uint8
 70  product_category_name_moveis_escritorio                               11171 non-null  uint8
 71  product_category_name_moveis_quarto                                   11171 non-null  uint8
 72  product_category_name_moveis_sala                                     11171 non-null  uint8
 73  product_category_name_musica                                          11171 non-null  uint8
 74  product_category_name_papelaria                                       11171 non-null  uint8
 75  product_category_name_pcs                                             11171 non-null  uint8
 76  product_category_name_perfumaria                                      11171 non-null  uint8
 77  product_category_name_pet_shop                                        11171 non-null  uint8
 78  product_category_name_portateis_casa_forno_e_cafe                     11171 non-null  uint8
 79  product_category_name_portateis_cozinha_e_preparadores_de_alimentos   11171 non-null  uint8
 80  product_category_name_relogios_presentes                              11171 non-null  uint8
 81  product_category_name_sinalizacao_e_seguranca                         11171 non-null  uint8
 82  product_category_name_tablets_impressao_imagem                        11171 non-null  uint8
 83  product_category_name_telefonia                                       11171 non-null  uint8
 84  product_category_name_telefonia_fixa                                  11171 non-null  uint8
 85  product_category_name_utilidades_domesticas                           11171 non-null  uint8
dtypes: float64(11), int64(4), uint8(71)
memory usage: 2.1 MB

## üë∑ 3. Regress√£o

### üèã 3.2 Treinamento do Modelo - Linear Regression

In [37]:
from sklearn import linear_model
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [38]:
 # Split test and train datasets
y = df_to_regression['review_score'].values
X = df_to_regression.drop(columns=['review_score']).values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
pd.set_option('display.max_columns', None)
df_to_regression.head()

,price,freight_value,customer_zip_code_prefix,seller_zip_code_prefix,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_value,payment_sequential,payment_type_boleto,payment_type_credit_card,payment_type_voucher,payment_type_debit_card,review_score,days_to_delivery,product_category_name_agro_industria_e_comercio,product_category_name_alimentos,product_category_name_alimentos_bebidas,product_category_name_artes,product_category_name_artes_e_artesanato,product_category_name_artigos_de_festas,product_category_name_artigos_de_natal,product_category_name_audio,product_category_name_automotivo,product_category_name_bebes,product_category_name_bebidas,product_category_name_beleza_saude,product_category_name_brinquedos,product_category_name_cama_mesa_banho,product_category_name_casa_conforto,product_category_name_casa_conforto_2,product_category_name_casa_construcao,product_category_name_cds_dvds_musicais,product_category_name_cine_foto,product_category_name_climatizacao,product_category_name_consoles_games,product_category_name_construcao_ferramentas_construcao,product_category_name_construcao_ferramentas_ferramentas,product_category_name_construcao_ferramentas_iluminacao,product_category_name_construcao_ferramentas_jardim,product_category_name_construcao_ferramentas_seguranca,product_category_name_cool_stuff,product_category_name_dvds_blu_ray,product_category_name_eletrodomesticos,product_category_name_eletrodomesticos_2,product_category_name_eletronicos,product_category_name_eletroportateis,product_category_name_esporte_lazer,product_category_name_fashion_bolsas_e_acessorios,product_category_name_fashion_calcados,product_category_name_fashion_roupa_infanto_juvenil,product_category_name_fashion_roupa_masculina,product_category_name_fashion_underwear_e_moda_praia,product_category_name_ferramentas_jardim,product_category_name_flores,product_category_name_fraldas_higiene,product_category_name_industria_comercio_e_negocios,product_category_name_informatica_acessorios,product_category_name_instrumentos_musicais,product_category_name_livros_importados,product_category_name_livros_interesse_geral,product_category_name_livros_tecnicos,product_category_name_malas_acessorios,product_category_name_market_place,product_category_name_moveis_cozinha_area_de_servico_jantar_e_jardim,product_category_name_moveis_decoracao,product_category_name_moveis_escritorio,product_category_name_moveis_quarto,product_category_name_moveis_sala,product_category_name_musica,product_category_name_papelaria,product_category_name_pcs,product_category_name_perfumaria,product_category_name_pet_shop,product_category_name_portateis_casa_forno_e_cafe,product_category_name_portateis_cozinha_e_preparadores_de_alimentos,product_category_name_relogios_presentes,product_category_name_sinalizacao_e_seguranca,product_category_name_tablets_impressao_imagem,product_category_name_telefonia,product_category_name_telefonia_fixa,product_category_name_utilidades_domesticas
0,74.0,23.32,21810,14940,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,97.32,1,0,1,0,0,5.0,21,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,79.9,14.65,9760,14940,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,94.55,1,0,1,0,0,4.0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,79.9,13.00,13348,14940,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,92.90,1,0,1,0,0,5.0,21,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,79.9,14.65,6210,14940,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,94.55,1,0,1,0,0,4.0,27,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,74.0,14.83,14730,14940,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,88.83,1,0,0,0,1,5.0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
print(f'Treinamento ‚Üí R¬≤ = {linear_reg.score(X_train, y_train)}')

Treinamento ‚Üí R¬≤ = 0.0636090596238601

In [41]:
y_train_pred = linear_reg.predict(X_test)

In [42]:
print(f'Mean squared error ‚Üí {mean_squared_error(y_test, y_train_pred)}')
print(f'R¬≤ ‚Üí {r2_score(y_test, y_train_pred)}')

Mean squared error ‚Üí 2.293667221561367
R¬≤ ‚Üí 0.05418856135450967